.layer{
	background-color:white;
	height:700px;  
}

.content{
	float:right;
	width:1146px;
	margin-top:-700px;   
}

.header{
		height:90px;
		width:1135px; 
		float:right;
	    margin-right:-30px; 
		background-color:lawngreen;
		text-align:left;
		padding-top:25px;
}

.side{
	float: right;
	margin-top:-65px;
	margin-right:50px;   
}

.nhead{
	background-color:green;
	height:110px;  
}

.img{
	margin-top:30px;
	margin-right:120px;  
}

.sidebar{
	background-color:lightgreen; 
	text-align:left;
	width:16%;
	height:700px;
	margin-left:-15px;        
}

li{
	padding-bottom:20px; 
}

span{
	 color:black;
}

.well{
	    height:75px;
	    width:1135px;
		float:right;
		margin-right:-30px; 
		background-color:white;
		color:#676a6c;
		text-align:left;
		padding-top:15px;
		padding-left:25px;                     
}

.button{
	float: right;
	margin-top:-30px;
	margin-right:30px;  
}

.firstcard{
	margin-left:183px;
	margin-top:-60px;
	width:1135px;         
}

.image{
	margin-left:-557px;
	margin-top:-10px; 
}

.textarea{
	margin-left:20px;
}

.footer{
	float:right;
	width:1135px;
	margin-top:-30px;
	margin-right:-13px; 
	background-color:white; 
	padding-left:30px;
	color:#676a6c;
	height:30px;
	text-align:center;   
}
