.layer{
	background-color:white;  
}

.content{
	float:right;
	margin-top:-660px;
	margin-right:-15px;
	background-color:white;
	width:1180px;      
}

.header{
		height:90px;
		width:1180px; 
		float:right;
	    margin-right:0px; 
		background-color:lawngreen;
		text-align:left;
		padding-top:25px;
}

.side{
	float: right;
	margin-top:-65px;
	margin-right:50px;   
}

.nhead{
	background-color:green;
	height:110px;  
}

.img{
	margin-top:30px;
	margin-right:120px;  
}

.sidebar{
	background-color:lightgreen; 
	text-align:left;
	width:187px;
	height:653px;
	color:#676a6c;
	margin-left:-15px;        
}

li{
	padding-bottom:20px; 
}

span{
	 color:black;
}

.well{
	    height:75px;
	    width:1180px;
		float:right;
		margin-right:0px; 
		background-color:white;
		color:#676a6c;
		text-align:left;
		padding-top:15px;
		padding-left:25px;                     
}

.footer{
	float:right;
	width:1180px;
	margin-top:466px;
	margin-right:0px; 
	background-color:white; 
	padding-left:30px;
	color:#676a6c;
	height:30px;
	text-align:left;   
}
